@{
    ViewData["Title"] = "Privacy Policy";
}



<div class="text-start p-2" style="min-height: 40rem; margin-top: 5rem;">
    <h3 class="text-white fw-bold">@ViewData["Title"]</h3>
    <div class="card border-success rounded-5 p-3" style="min-height: 10rem; max-width: 50rem">
        <p>
            I respect your privacy. Any information you provide via the contact form (name, email, message) is only used to respond to your inquiries. I do not share, sell, or store your information beyond what is necessary to reply.
            This website may use third-party services like FormSubmit to handle messages. For details, please review their privacy practices.
            By using this site or submitting a message, you consent to the handling of your data as described above.
        </p>
        <div class="d-flex justify-content-end">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success btn-lg px-5">Back</a>
        </div>
    </div>
</div>

